doctype html
html
  head
    title Movie Fire
    link(rel="stylesheet" type="text/css" href="/firemovie.css")
  body
    h1 Movie Fire
    h3 Save all your Favorite Movies here
    hr
    h3 WRONG OPERATION!!
    if err
        p #{err}